<h1>Editing Tbl Customer</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @tbl_customer, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', tbl_customers_path, class: "btn btn-default" %>

