<h1>Editing Tbl Quality Issue</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @tbl_quality_issue, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', tbl_quality_issues_path, class: "btn btn-default" %>

