<h1>Editing Dept</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @dept, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', depts_path, class: "btn btn-default" %>

