<h1>Editing Tbl Hold Tag So</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @tbl_hold_tag_so, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', tbl_hold_tag_sos_path, class: "btn btn-default" %>

