<h1>Editing Tbl Cust Dispoistion</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @tbl_cust_dispoistion, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', tbl_cust_dispoistions_path, class: "btn btn-default" %>

