
<p>
  <strong>Dispoisition:</strong>
  <%= @tbl_cust_dispoistion.Dispoisition %>
</p>

<br>
<%= link_to 'Edit', edit_tbl_cust_dispoistion_path(@tbl_cust_dispoistion), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', tbl_cust_dispoistions_path, class: "btn btn-default" %>
