<h1>Editing Tbl Htpc Reason</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @tbl_htpc_reason, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', tbl_htpc_reasons_path, class: "btn btn-default" %>

