
<p>
  <strong>Reason:</strong>
  <%= @tbl_htpc_reason.Reason %>
</p>

<br>
<%= link_to 'Edit', edit_tbl_htpc_reason_path(@tbl_htpc_reason), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', tbl_htpc_reasons_path, class: "btn btn-default" %>
