<h1>Editing Healthcheck</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @healthcheck, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', healthchecks_path, class: "btn btn-default" %>

