<h1>Editing Machine</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @machine, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', machines_path, class: "btn btn-default" %>

